# Web API & Server
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary

# Scraping & Web
requests
beautifulsoup4
lxml
selenium
webdriver-manager

# Data Handling
pandas
numpy

# SNS & Utilities
tweepy
Pillow
python-dotenv
tqdm
google-genai
google-api-python-client
google-auth
google-auth-httplib2
